{% extends "base.html" %}

{% block content %}

    <h2>Login</h2>
        <form id="signup" method="POST">
            {% csrf_token %}
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
            <input name="login" id="login" class="btn btn-block login-btn" type="submit" value="Login">
        </form>

{% endblock content %}